.WithdrawHome{
  background-color:powderblue;
}
.AddBank{
  background-color:powderblue;
}
.updateBank{
  background-color:powderblue;
}



/* selectbank page css */

#dropdown{
  width:400px;
  user-select: none;
  margin: 100px auto;
  position: relative;
  
}

#dropdown .dropdown-btn{
  padding: 15px 20px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

#dropdown .dropdown-content{
  position:absulute;
  top: 110%;
  left:0;
  padding: 10px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: 500;
  color: #333;
  width : 96%;
}

#dropdown .dropdown-content .dropdown-item{
  padding: 10px;
  cursor: pointer;
  transition: 0.2s;
}

#dropdown .dropdown-content .dropdown-item:hover{
  background: #f4f4f4;
}

.btn{
    padding: 10px;  
}
.backbtn{
  
  padding: 5px;
  font-size: 30px;
  margin-left: 20vw;
  margin-top: 10px;
  cursor:pointer;
}
.backbtn:hover{
  background-color: #4CAF50; /* Green */
  color: white;
}











/* WithdrawHome page */
.Withdrawhomeh1{
  text-align: center;
  margin-bottom: 6.29vh;
  
}
.wdh1, .wdh2, .wdh3{
  font-size: 45px;
  margin-bottom: 40px;
  border-radius: 10px;
  padding: 5px;
  cursor:pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transform: translateY(4px);
}
.wdh1:hover, .wdh2:hover, .wdh3:hover {
  background-color: #4CAF50; 
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.wdh1{
  margin-left: 40vw;
}
.wdh2{
  margin-left: 36vw;
}
.wdh3{
  margin-left: 42vw;
  margin-bottom: 100px;
}












/* Add bank page */
.bankdetailsh2{
  
  margin-left: 220px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: inline;
}
.addupdateBankh1{
  text-align: center;
  margin-bottom: 10px;
}
.form-group2{
  font-size: 3.5vh;
}

.lb_Acc_no2{
  margin-left: 32vw;
  margin-bottom: 2vh;
}
#Acc_no2{
  margin-left: 7.2vw;
}
.lb_bank_name2{
  margin-left: 32vw;
  margin-bottom: 2vh;
}
#bank_name2{
  margin-left: 9.4vw;
}
.lb_branch_name2{
  margin-left: 32vw;
  margin-bottom: 2vh;
}
#branch_name2{
  margin-left: 8vw;
}
.lb_holder_name2{
  margin-left: 32vw;
}
#holder_name2{
  margin-left: 3vw;
}












/* select bank page */
#dropdown{
  font-size: 3.46vh;
  margin-top: 6.87vh;
  margin-left: 37vw;
}

.form-group1{

  font-size: 3.4vh;

}

.lb_Acc_no{
  margin-left: 10.65vw;
  margin-bottom: 5.5vh;
}

#Acc_no{
  margin-left: 2.23vw;
}

.lb_bank_name{
  margin-left: 4.46vw;
}

#bank_name{
  margin-left: 7.09vw;
}

.lb_branch_name{
  margin-left: 10.65vw;
}
#branch_name{
  margin-left: 4.3vw;
}

.lb_holder_name{
  margin-left: 4.46vw;
}

#holder_name{
  margin-left: 1.1vw;
}

.selct_bankBtn{
  padding: 0.68vh;
  margin-top: 8vh;
  margin-left: 46vw;
  font-size: 2.75vh;
  background-color: chartreuse;
  border-radius: 0.68vh;
  cursor:pointer;
  margin-bottom: 20.63vh;
}












/* All bank page */
.box1{
  margin-left:15vw;
}
.bankadd_btn{
  margin-left: 39vw;
  margin-bottom: 16.74vw;
  font-size: 3.34vh;
}
.bankadd_btn:hover{
  background-color: #4CAF50; /* Green */
  color: white;
}
.bankdetailsh1{
  
  margin-left: 41vw;
  margin-top: 3vh;
  margin-bottom: 4vh;
}
.bank-table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1.3em;
  min-width: 80%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
} 
.bank-table thead tr {
  background-color: turquoise; 
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}
.bank-table  th,
.bank-table  td{
  padding: 20px 15px;
}
.bank-table tbody tr{
  border-bottom: 1px solid chartreuse;
  text-align: center;
}














/* Withdraw page */
.displyAmount{
  margin-left: 37vw;
  margin-bottom: 10px;
}
.backbtn2{
  position: absolute;
  display: inline;
  margin-left: 300px;
  padding: 10px;
  font-size: 20px;
}
.backbtn2:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
.paywitdh1{

  display: inline-block;
  margin-left: 16vw;
  font-family: 'Times New Roman', serif;
  
}
.withNextbtn{
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: 700px;
  cursor: pointer;
}
.withNextbtn:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
.withdraw-table{
  border-collapse: collapse;
  margin: 1.6vw 0;
  font-size: 2.4vh;
  min-width: 80%;
  border-radius: 0.3vw 0.3vw 0 0;
  overflow: hidden;
  box-shadow: 0 0 1.3vw rgba(0, 0, 0, 0.15);
}
.withdraw-table thead tr {
  background-color: turquoise; 
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}
.withdraw-table th,
.withdraw-table  td{
  padding: 20px 15px;
}
.withdraw-table tbody tr{
  border-bottom: 1px solid chartreuse;
  text-align: center;
}










/* Pending Payment page */
.paywitdh2{
  display: inline-block;
  margin-left: 13vw;
  font-family: 'Times New Roman', serif;
  font-size: 5vh;
}
.teacherSearchLable{
  margin-left: 6.5vw;
  margin-right: 1.3vw;
  font-size: 3.5vh;
  font-family: 'Times New Roman', serif;
}
.teacherSearch{
  font-size: 1vw;
  font-family: 'Times New Roman', serif;
}









/* Display Teacher Details page */

.DisplayDetails p{
  text-align: center;
}

.Displaywitdh1{

  display: inline-block;
  margin-left: 170px;
  font-family: 'Times New Roman', serif;
}

.dtBoxMain{
  background-color: white;
  width: 700px;
  margin: 40px auto;
  font-size: large;
}
.dtBoxTeacher{
  background-color: turquoise;
  width: 700px;
  margin: 20px auto;
  border-style: ridge;
  border-color: black;
  padding-top: 10px;
}
.dtBoxBank{
  background-color: turquoise;
  width: 700px;
  margin: 20px auto;
  border-style: ridge;
  border-color: black;
  padding-top: 10px;
}
.dtBoxTable{
  background-color: turquoise;
  width: 700px;
  margin: 20px auto;
  padding-bottom: 10px;
  border-style: ridge;
  border-color: black;
}
.dtBoxAmount{
  background-color: turquoise;
  width: 700px;
  margin: 20px auto;
  border-style: ridge;
  border-color: black;
  padding-top: 10px;
}
.dtBoxButton{
  /* background-color: rgb(231, 12, 231); */
  width: 700px;
  
}
.dtBoxTable table, .dtBoxTable th,.dtBoxTable td {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  width: 650px; 
}
.dtMarkTrans{
  padding: 5px;
  margin-left: 280px;
}
.dtBoxTable p {
  padding-top: 10px;
}




/* Get Report */
.pdfBtnPayment{
  margin-left: 280px;
}